body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

.table-header {
    background: blue;
    color: white;
}

.flex {
  display: flex;
  height: 24rem; /* Or whatever */
}

.row {
  width: 16rem;
  height: 24rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.row img {
    max-width: 150%;
}

rect {
    fill: #6666cc; 
    stroke: #9966ff; 
    stroke-width: 4
}

rect:hover {
    fill: #BABABA;
}

circle:hover {
    stroke: #9966FF;
    stroke-width: 4px;
}  


ul{display: inline-block; text-align: left;}